@model CA2ArtGallery1.Models.Painting
    <head>
        <style>
            .navbar-brand {
                color: white !important;
            }

            .navbar {
                background-color: #7437d3 !important;
            }

            .nav-link {
                color: #fff !important;
            }
        </style>
    </head>
<div class="container">
    <h4>Painting</h4>
    <hr />
    <div class="row">
        <div class="col">
            <img  src="~/images/@Model.Image" width="600" height="500"  alt="Alternate Text" />
        </div>
        <div class="col">
            <dl>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MediumUsedId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MediumUsed.MediumUsedName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.StyleId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Style.StyleName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Subject)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Subject)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Height)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Height) mm
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Length)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Length) mm
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Width)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Width) mm
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Framed)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Framed)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                  @Html.DisplayNameFor(model => model.Price) 
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Price) Euro
                </dd>
                                
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UploadDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UploadDate)
                </dd>
               
            </dl>
        </div>
    </div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
